# Server Configuration
PORT=4000
NODE_ENV=development


DATABASE_URL=ppostgresql://leema_tech_user:yOmg0PQ92yaBDeZGem6TkV1iDr0HJL8d@dpg-daodqq0ae00c73c4kkrg-a.ohio-postgres.render.com/leema_tech

# JWT Authentication
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=7d

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

FRONTEND_URL="http://localhost:3000"

MPESA_ENVIRONMENT="sandbox"
MPESA_CONSUMER_KEY=gcDKLkpWQs7LUNrVhvcKe41dJESdgG5eGrTHa9AMzTPTwx8y
MPESA_CONSUMER_SECRET=5ESSDiqHCj7c2jMawtR5RNcPWGi32LqnuPIgkAkajT5xpLxwnMDEAftGxCwNAOmR
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_TRANSACTION_TYPE="CustomerPayBillOnline"
MPESA_CALLBACK_URL="https://leemabackend.onrender.com/api/payments/mpesa/callback"

MAX_FILE_SIZE=5242880
ALLOWED_FILE_TYPES=image/jpeg,image/png,image/webp